# Figure 1

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point
import geopandas as gpd
from shapely.geometry import Point
import matplotlib.patches as mpatches

In [2]:
pop_df=pd.read_csv(r'C:\Users\Yasaman\Downloads\World_bank_population.csv',skiprows=3)
pop_df=pop_df[['Country Code','2019']].dropna()
pop_df['2019']=pop_df['2019'].astype(int)
possible_countries=pop_df.query(" `2019` >=1000000")['Country Code'].values
possible_countries=[x.lower() for x in possible_countries]

In [3]:
excluded_iso3_codes = [
    "IRL",  # Ireland
    "SSD",  # South Sudan
    "SDN",  # Sudan
    "COG",  # Republic of the Congo
    "COD",  # Democratic Republic of the Congo
    "GIN",  # Guinea
    "GNB",  # Guinea-Bissau
    "GNQ",  # Equatorial Guinea
    "PNG",  # Papua New Guinea
    "XKX",  # Kosovo (unofficial)
    "MNE",  # Montenegro
    "SRB",  # Serbia
    "TLS"   # Timor-Leste
]
excluded_iso3_codes=[c.lower() for c in excluded_iso3_codes]

In [4]:
possible_iso=list(set(possible_countries)-set(excluded_iso3_codes))

In [ ]:

df=pd.read_csv(r"C:\Users\Yasaman\Downloads\Attention-fractional counting.csv")
df=df[df['country'].isin(possible_iso)]
df=df.rename(columns={'year':'Year', 'aggregated_value':'count', 'country':'Mention_country', 'affiliation_country':'Aff_country'})
Country_list={'Egypt':'EGY', 'Tunisia':'TUN','Libya':'LBY','Syria':'SYR','Yemen':'YEM','Bahrain':'BHR','Jordan':'JOR','Kuwait':'KWT','Morocco':'MAR','Oman':'OMN'}
rev_Country_list={Country_list[key]: key for key in Country_list}
abbr=[country.lower() for country in Country_list.values()]
physical_sciences=[ 'MATH', 'ENGI', 'PHYS', 'COMP']
df=df[~df['subjarea'].isin(physical_sciences)]
df=df.groupby(['Year', 'Mention_country', 'Aff_country'])['count'].sum().reset_index()
    
country_codes=pd.read_csv(r"C:\Users\Yasaman\Downloads\iso3.csv")
country_codes['iso3']=[c.lower() for c in country_codes['iso3']]
Map={country_codes.iloc[c]['iso3']: country_codes.iloc[c]['name'] for c in range(len(country_codes))}
Map['irn']='Iran'
Map['usa']='USA'
Map['gbr']='UK'
Map['syr']='Syria'

# Define year ranges for "before" and "after" data.
years_before = np.arange(2002, 2011, 1)
years_after = np.arange(2011, 2020, 1)



# Function to calculate summary statistics for given years and data.
def summarize_years(df, years):
    # Filter the DataFrame for the given years range.
    df_filtered = df[(df['Year'].isin(years))]
    # Sum of counts by affiliation country.
    summary_df = df_filtered.groupby(['Aff_country','Mention_country'])['count'].sum().reset_index()

    return summary_df.fillna(0)  # Fill NaN with 0 if any.

# Apply the function to both year ranges.
before_df = summarize_years(df, years_before)
before_df = before_df.add_suffix('_before')

after_df = summarize_years(df, years_after)
after_df = after_df.add_suffix('_after')


full_df = before_df.merge(after_df, left_on=['Aff_country_before','Mention_country_before'], right_on=['Aff_country_after','Mention_country_after'], how='outer')
full_df.fillna(0, inplace=True)
full_df['Mention_country'] = np.where(full_df['Mention_country_before'] != 0, full_df['Mention_country_before'], full_df['Mention_country_after'])
full_df['Aff_country'] = np.where(full_df['Aff_country_before'] != 0, full_df['Aff_country_before'], full_df['Aff_country_after'])
full_df.drop(columns=['Aff_country_before','Mention_country_before','Mention_country_after','Aff_country_after'], inplace=True)

result_df=full_df.groupby('Mention_country')[['count_after', 'count_before']].sum().reset_index()

result_df['count_after']/=len(years_before)
result_df['count_before']/=len(years_before)
result_df['Absolute difference']=result_df['count_after']-result_df['count_before']

col='Absolute difference'
markers=['o', 'v', '^', 'x', 's', 'd', '>', '<', 'p', '+']
copy_df = result_df[result_df['Mention_country'].isin(abbr)]
copy_df=copy_df.sort_values(by=col, ascending=True).reset_index(drop=True)

country_names=['egy','tun', 'lby', 'syr', 'yem', 'bhr', 'jor', 'kwt', 'mar', 'omn']

In [62]:
result_df['percentile']=result_df['Absolute difference'].rank(pct=True)
copy_df = result_df[result_df['Mention_country'].isin(abbr)]

In [63]:
copy_df

,Mention_country,count_after,count_before,Absolute difference,percentile
15,bhr,90.518858,43.729693,46.789166,0.148649
39,egy,1685.642039,582.385429,1103.256611,0.810811
65,jor,734.036070,349.237039,384.799031,0.581081
72,kwt,231.880968,170.589003,61.291965,0.202703
76,lby,154.258554,54.661824,99.596730,0.283784
81,mar,727.885511,319.661711,408.223799,0.594595
102,omn,341.294282,157.796353,183.497929,0.445946
127,syr,264.513715,83.770240,180.743475,0.439189
134,tun,745.209546,334.979979,410.229566,0.601351
144,yem,144.497129,64.257331,80.239798,0.236486

In [66]:
result_df.sort_values('percentile', ascending=True)[20:30]

,Mention_country,count_after,count_before,Absolute difference,percentile
141,uzb,98.079901,51.355659,46.724242,0.141892
15,bhr,90.518858,43.729693,46.789166,0.148649
36,dom,107.162135,57.283776,49.878358,0.155405
97,nic,133.520587,82.721112,50.799474,0.162162
109,prk,79.358443,27.944148,51.414295,0.168919
95,ner,86.314246,33.591342,52.722904,0.175676
131,tjk,74.065878,21.092367,52.973510,0.182432
82,mda,77.528582,23.265745,54.262838,0.189189
17,blr,112.952868,57.090000,55.862868,0.195946
72,kwt,231.880968,170.589003,61.291965,0.202703